<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CompetitionManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CompetitionManagment.styles.css" asp-append-version="true" />
    <style>
        .full-page-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: #e5e5f7;
            opacity: 0.1;
            background: 
            linear-gradient(135deg, #b5b34955 25%, transparent 25%) -7px 0/ 14px 14px, 
            linear-gradient(225deg, #b5b349 25%, transparent 25%) -7px 0/ 14px 14px, 
            linear-gradient(315deg, #b5b34955 25%, transparent 25%) 0px 0/ 14px 14px, 
            linear-gradient(45deg, #b5b349 25%, #e5e5f7 25%) 0px 0/ 14px 14px;
        }
    </style>
</head>
<body>
    <div class="full-page-background"></div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 navbar-custom p-0">  
            <div class="container-fluid" style="height:100%">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CompetitionManagement</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="height:100%">
                    <ul class="navbar-nav flex-grow-1" style="height:100%">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color:#ffffff">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Team" asp-action="Index" style="color:#ffffff">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Players" asp-action="ViewPlayers" style="color:#ffffff">Players</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CompetitionManagment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
