@model CompetitionManagment.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LeagueCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="CompetitionId" class="form-control" readonly hidden />
            </div>
            <div class="form-group">
                <input asp-for="Team1Id" class="form-control" readonly hidden />
            </div>
            <div class="form-group">
                <input asp-for="Team2Id" class="form-control" readonly hidden />
            </div>
            <div class="form-group">
                <label asp-for="Team1Score" class="control-label"></label>
                <input asp-for="Team1Score" class="form-control" min="0" />
                <span asp-validation-for="Team1Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team2Score" class="control-label"></label>
                <input asp-for="Team2Score" class="form-control" min="0"/>
                <span asp-validation-for="Team2Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stadium" class="control-label"></label>
                <input asp-for="Stadium" class="form-control" />
                <span asp-validation-for="Stadium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LeagueGames" asp-controller="Home" asp-route-competitionId="@Model.CompetitionId">Back to Games</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
