@model CompetitionManagment.Models.Game

@{
    ViewData["Title"] = "Delete Game";
}

<h1>Delete Game</h1>

<h3>Are you sure you want to delete this game?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Team 1 Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team1Name)
        </dd>
        <dt class="col-sm-2">
            Team 2 Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team2Name)
        </dd>
    </dl>

    <form asp-action="LeagueDelete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="LeagueGames" asp-controller="Home" asp-route-competitionId="@Model.CompetitionId" class="btn btn-warning">Cancel</a>
    </form>
</div>
