html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    width: calc(33.33% - 20px); /* Adjust the width of the cards */
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.card-body {
    margin-bottom: px;
}

.card-footer {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .card-footer .btn {
        margin-top: 5px;
        white-space: normal; /* Allow multiple lines of text in buttons */
        max-width: 100%; /* Ensure button doesn't exceed parent width */
        display: flex;
        align-content: center;
        justify-content: center;
    }

.card-location {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-deck .card {
    width: 350px; /* Adjust the desired width for the cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2a35ce;
    border-color: #4950b5;
}

    .btn-primary:hover {
        color: white;
        transition: 0.1s;
        box-shadow: 0px 0px 10px 4px white;
        opacity: 20;
        transform: scale(1.01);
        background-color: #4950b5;
        border-color: #4950b5;
    }

.btn-danger {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ce2a2f;
    border-color: #b5494d;
}

    .btn-danger:hover {
        color: white;
        transition: 0.1s;
        box-shadow: 0px 0px 10px 4px white;
        opacity: 20;
        transform: scale(1.01);
        background-color: #b5494d;
        border-color: #b5494d;
    }

.btn-success {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2fce2a;
    border-color: #4db549;
}

    .btn-success:hover {
        color: white;
        transition: 0.1s;
        box-shadow: 0px 0px 10px 4px white;
        opacity: 20;
        transform: scale(1.01);
        background-color: #4db549;
        border-color: #4db549;
    } 

.btn-info {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #c92ace;
    border-color: #b149b5;
    color: white;
}

    .btn-info:hover {
        color: white;
        transition: 0.1s;
        box-shadow: 0px 0px 10px 4px white;
        opacity: 20;
        transform: scale(1.01);
        background-color: #b149b5;
        border-color: #b149b5;
    }

.btn-warning {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .btn-warning:hover {
        color: white;
        transition: 0.1s;
        box-shadow: 0px 0px 10px 4px white;
        opacity: 20;
        transform: scale(1.01);
    }
    
.btn-group {
    display: flex;
    align-content: center;
    justify-content: center;
}

.navbar-nav {
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: stretch;
}

.navbar {
    height: 50px;
}

.nav-link {
    display: flex;
    align-items: center;
    background: linear-gradient(to top, transparent 50%, #b5b349 50%);
    background-size: 100% 200%;
    background-position: bottom;
    transition: background-position 0.3s;

}

    .nav-link:hover {
        background-position: top;
    }

.navbar-brand {
    display: flex;
    align-items: center;
    background: linear-gradient(to top, transparent 50%, #b5b349 50%);
    background-size: 100% 200%;
    background-position: bottom;
    transition: background-position 0.3s;
    height:100%;
}

    .navbar-brand:hover {
        background-position: top;
    }


.nav-item {
    color: white;
}

    .nav-item:hover {
        color: #e6b8b8;
    }

.nav-link-custom {
    color: #fcdfe5;
}
    
.form-control {
    background-color: #f3f3f3;
}

    .form-control:focus {
        background-color: #f7f7f7;
        border-color: #727272;
        box-shadow: none;
    }